<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Главная страница</title>
    <meta charset="UTF-8">
    <link type = "text/css" href="static/css/index-style.css" rel="stylesheet">
</head>
<body>

<div class="wrapper">

    <div class="header-container">
           <h1 class = "header-name">@vsedarombot</h1>
    </div>
    <div class="middle-container">
        <h2>Ссылка указана неверно</h2>
        <h3>Похоже, что вы неправильно указали ссылку на комнату из-за чего подключение было невозможно.</h3>
        <h3>Если ошибка не исчезнет, то попробуйте следующие способы:</h3>
        <h3> 1. Перепроверьте введенную ссылку</h3>
        <h3> 2. Создать новую комнату</h3>
        <h3> 3. Повторить попытку позже</h3>
        <h3> 4. Написать в техническую поддержку: example@example.com</h3>
    </div>
</div>

</body>
</html>